#image_gallery{
    width: 95%;
    padding: 5%;
}
img.gallery{
    width: 15%;
    margin: 10px;   
}
img.gallery:hover{
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

img.galleryPopup{
    max-width: 90%;
    animation-name: zoom;
    animation-duration: 0.5s;
    display: none;
}
 
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}