/* 
    ITC293 Introduction to the Web
    Matthew Semmens
    9/04/2022
*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
html{
    display: flex;
    justify-content: center;
}
body{
    align-items: center;
    background-color: #2E4057;
    margin-top: 1%;
    width: 90%;
}

/*Title Bar Style*/
.title{
    position: sticky;
    display: flex;
    flex-wrap: nowrap;
    margin-top:0%;
    background-color: #F7BF4F;
    height: 100px;
}
.title_left{
    order: 1;
    flex-grow: 0;
    width: 100px;
}
.title_right{
    order: 2;
    flex-grow: 1;
    text-align: center;
}
h1.h1_title{
    font-style: italic;
    margin-top: 25px;
    margin-right: 100px;
    font-size: xx-large;
}
/*Content + nav bar*/
.content{
    display: flex;
    flex-wrap: nowrap;
    background-color: #F4A259;
}
/*nav bar to to the left*/
.nav_bar{
    order: 1;
    flex-grow: 0;
    width: 100px;
    min-width: 100px;
}
nav{
    position: sticky;
    margin-left: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
    display: block;
    background-color: aquamarine;
    border:none;
    color: black;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
    width: 100%;
}
.button:hover {
    background-color: azure;
}
.button:active {
    opacity: 0.5;
    background-color: #2E4057;
}
/*main content window*/
.main_content{
    order:2;
    flex-grow: 1;
    padding: 10px;
}
aside{
    float: right;
    width: 25%;
}
img.sidebar{
    width:95%;
}
img.logo{
    width: auto;
}
img{
    width:90%;
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
table{
    background-color: #F7BF4F;
    width: 575px;
}
table, th, td {
    border: 1px solid black;
}

.exp{
    background-color: #F7BF4F;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: 25px;
}

/*footer content*/
footer{
    background-color:antiquewhite;
    padding-bottom: 10px;
}
.footer_text{
    font-size: 12px;
    padding-left: 10px;
}
 /*footer links*/
a.footLink{
    display: block;
    padding-left: 20px;
}
a.footLink:link{
    color: #F4A259;
}
a.footLink:visited{
    color: #C47259;
}
a.footLink:hover{
    background-color: #5E7087;
    color: #E8EEF2;
}